appdirs                
beautifulsoup4         
brotlipy              
certifi               
cffi                   
chardet               
click                 
conda                  
conda-package-handling 
cryptography          
cycler                
distlib               
filelock              
Flask                
idna                  
itsdangerous           
Jinja2                
joblib                
kiwisolver            
MarkupSafe           
matplotlib             
numpy                 
opencv-python         
pandas               
Pillow                
pip                   
pycosat            
pycparser              
pyOpenSSL            
pyparsing             
PySocks                
python-dateutil        
pytz                  
pyzbar                
requests             
ruamel-yaml-conda      
scikit-learn           
scipy                 
setuptools            
six                    
sklearn               
soupsieve             
threadpoolctl         
tqdm                   
urllib3                
virtualenv             
Werkzeug               
wheel                 
